.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  .auth-info {
    flex-direction: row;
  }

  .input-field {
    margin: 2px;
  }

  .btn {
    margin: 2px;
  }
}

